# Secrets
.env
*.json
firebase-service-account.json
backend/firebase-service-account.json

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Flutter/Dart
.dart_tool/
build/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# Mac
.DS_Store

# Android binaries
*.apk